version: 2
updates:

  - package-ecosystem: "nuget" 
    directory: "/Quickstart/Sample" 
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-patch"]
