@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to the Admin section</h2>
        <p>This page is only visible to administators</p>
    </div>
</div>
