@model SampleMvcApp.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Log In";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>Log In</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EmailAddress"></label>
                    <input asp-for="EmailAddress" class="form-control input-lg" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control input-lg" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Log in</button>
                </div>
                <hr />
                <center><h4>OR</h4></center>
                <div class="form-group">
                    <a class="btn btn-lg btn-default btn-block" asp-controller="Account" asp-action="LoginExternal" asp-route-connection="google-oauth2" asp-route-returnurl="@ViewData["ReturnUrl"]">
                        Login with Google
                    </a>
                </div>
            </form>
        </section>
    </div>
</div>